[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pymongo = "*"
flask-jwt = "*"
flask-jwt-extended = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
